# Auto detect text files and perform LF normalization
* text=auto
*.qmd linguist-detectable=true
*.qmd linguist-documentation=false
*.qmd linguist-language="Quarto Markdown"
*.R linguist-detectable=true
*.R linguist-documentation=false
*.R linguist-language=R